<!-- CATEGORY LIST SECTION -->
<section class="clerfix" style="margin-top: 80px">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="resultBar barSpaceAdjust">
					<h2>We found <span><%= @users.count %></span> Results for you</h2>
					<ul class="list-inline">
						<li class="active"><a href="category-list-full.html"><i class="fa fa-th" aria-hidden="true"></i></a></li>
						<li><a href="category-list-right.html"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				
				<ul class="users">
				  <% @users.each do |user| %>
				    <li>
				      	<div class="listContent">
							<div class="row">
								<div class="col-sm-5 col-xs-12">
									<div class="categoryImage">
										<%= image_tag "img/things/things-1.jpg", alt: "Image category", class: "img-responsive img-rounded" %>
										<span class="label label-primary">Verified</span>
									</div>
								</div>
								<div class="col-sm-7 col-xs-12">
									<div class="categoryDetails">
										<ul class="list-inline rating">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
										</ul>
										<h2><a href="blog-details.html" style="color: #222222"><%= user.email %></a> <span class="likeCount"><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</span></h2>
										<p>1569 Queen Street West <span class="placeName">Toronto</span></p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. </p>
										<ul class="list-inline list-tag">
											<li><a href="category-list-full.html">Hotel,</a></li>
											<li><a href="category-list-full.html">Restaurant</a></li>
										</ul>
										<% if current_user.admin? && !current_user?(user) %>
									    	| <%= link_to "delete", user, method: :delete,
									                                  data: { confirm: "You sure?" } %>
									    <% end %>
									</div>
								</div>
							</div>
						</div>
				    </li>
				  <% end %>
				</ul>
				
				
				<div class="paginationCommon blogPagination categoryPagination">
					<%= will_paginate %>
				</div>

				<div class="row">
					<div class="col-sm-4 com-xs-12">
						<div class="sidebarInner sidebarCategory mt20 pull-left">
							<div class="panel panel-default">
								<div class="panel-heading">Find Location</div>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="What are you looking for?" aria-describedby="basic-addon2">
									<a href="#" class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 com-xs-12">
						<div class="sidebarInner sidebarCategory mt20 pull-left">
							<div class="panel panel-default">
								<div class="panel-heading">Filter by Area</div>
								<div class="panel-body">
									<ul class="list-unstyle categoryList">
										<li><a href="#">Dhaka</a></li>
										<li><a href="#">Chittagong</a></li>
										<li><a href="#">Rajshahi</a></li>
										<li><a href="#">Khulna</a></li>
										<li><a href="#">Barisal</a></li>
										<li><a href="#">Sylhet</a></li>
										<li><a href="#">Rangpure</a></li>
										<li><a href="#">Gazipure</a></li>
										<li><a href="#">Pabna</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 com-xs-12">
						<div class="sidebarInner sidebarCategory mt20 pull-left">
							<div class="panel panel-default">
								<div class="panel-heading">Related Categories</div>
								<div class="panel-body">
									<ul class="list-unstyle categoryList">
										<li><a href="#">Fast food</a></li>
										<li><a href="#">Chinese restaurants</a></li>
										<li><a href="#">Creole restaurants</a></li>
										<li><a href="#">Seafood</a></li>
										<li><a href="#">Thai restaurants</a></li>
										<li><a href="#">Street food</a></li>
										<li><a href="#">Japanese restaurants</a></li>
										<li><a href="#">Greek restaurants</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
