<!-- USER PROFILE SECTION -->
<section class="user-profile-section bg-light">
  <div class="container">
    <div class="user-profile">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="user-img">
            <%= image_tag "img/dashboard/profile_user.jpg", alt: "User Image" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="user-profile-content">
            <h3 class="user-name"><%= @user.email %></h3>
            <span class="designation">Developer</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus eum, libero tempora consequuntur explicabo saepe aut sapiente iusto ipsum.</p>
            <ul class="user-contact-details">
              <li><i class="fa fa-phone" aria-hidden="true"></i>[88] 657 524 332</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">info@listy.com</a></li>
            </ul>
            <div class="verified-user"><i class="fa fa-user-o" aria-hidden="true"></i> veryfied account</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <aside>
          <div class="user-contact">
            <h3>Contact</h3>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputName" placeholder="Please Enter Your Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Please Enter Your Email">
              </div>
              <div class="form-group">
                <textarea class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">send message</button>
            </form>
          </div>
        </aside>
      </div>
      <div class="col-sm-8">
        <div class="listContentHeading">
          <h2>Kathy List</h2>
        </div>
        <div class="listContent">
					<div class="row">
						<div class="col-sm-5 col-xs-12">
							<div class="categoryImage">
								<%= image_tag "img/things/things-9.jpg", alt: "Image category", class: "img-responsive img-rounded" %>
								<span class="label label-primary">Verified</span>
							</div>
						</div>
						<div class="col-sm-7 col-xs-12">
							<div class="categoryDetails">
								<ul class="list-inline rating">
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								</ul>
								<h2><a href="blog-details.html" style="color: #222222">The Mayfair Hotel</a> <span class="likeCount"><i class="fa fa-heart-o" aria-hidden="true"></i> 15 k</span></h2>
								<p>242 W 49th St <span class="placeName"> New York</span></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. </p>
								<ul class="list-inline list-tag">
									<li><a href="category-list-full.html">Hotel</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
        <div class="listContent">
					<div class="row">
						<div class="col-sm-5 col-xs-12">
							<div class="categoryImage">
								<%= image_tag "img/things/things-10.jpg", alt: "Image category", class: "img-responsive img-rounded" %>
							</div>
						</div>
						<div class="col-sm-7 col-xs-12">
							<div class="categoryDetails">
								<ul class="list-inline rating">
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
								</ul>
								<h2><a href="blog-details.html" style="color: #222222">Water Grill</a> <span class="likeCount"><i class="fa fa-heart-o" aria-hidden="true"></i> 9 k</span></h2>
								<p>31 Union Square <span class="placeName">New York</span></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. </p>
								<ul class="list-inline list-tag">
									<li><a href="category-list-full.html">Eat & Drink</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="listContent">
					<div class="row">
						<div class="col-sm-5 col-xs-12">
							<div class="categoryImage">
								<%= image_tag "img/things/things-7.jpg", alt: "Image category", class: "img-responsive img-rounded" %>
								<span class="label label-primary">Verified</span>
							</div>
						</div>
						<div class="col-sm-7 col-xs-12">
							<div class="categoryDetails">
								<ul class="list-inline rating">
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								</ul>
								<h2><a href="blog-details.html" style="color: #222222">Sticky Band </a> <span class="likeCount"><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</span></h2>
								<p>Bishop Avenue <span class="placeName">New York</span></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. </p>
								<ul class="list-inline list-tag">
									<li><a href="category-list-full.html">Others</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
        <div class="row">
          <div class="col-xs-12">
            <div class="review-aria">
              <div class="listContentHeading">
                <h2>Reviews</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
              <div class="reviewContent">
                <h3 class="reviewTitle">
                  Reviews (3)
                    <span>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                </h3>

                <div class="reviewMedia">
                  <ul class="media-list">
                    <li class="media">
                      <div class="media-left">
                        <a href="#">
                          <%= image_tag "img/blog/comments-02.jpg", alt: "Image", class: "media-object" %>
                        </a>
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">Jessica Brown</h5>
                        <span>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem ape riam</p>
                      </div>
                    </li>
                    <li class="media">
                      <div class="media-left">
                        <a href="#">
                          <%= image_tag "img/blog/comments-01.jpg", alt: "Image", class: "media-object" %>
                        </a>
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">Jessica Brown</h5>
                        <span>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                        </span>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem ape riam</p>
                      </div>
                    </li>
                    <li class="media">
                      <div class="media-left">
                        <a href="#">
                          <%= image_tag "img/blog/comments-03.jpg", alt:"Image", class: "media-object" %>
                        </a>
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">Jessica Brown</h5>
                        <span>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star-0" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                        </span>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem ape riam</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <form action="" method="POST" role="form" class="commentsForm">
                  <h3 class="reviewTitle">Leave your review</h3>
                  <p>Want to Rate it? <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-0" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </span></p>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Comment"></textarea>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="paginationCommon blogPagination categoryPagination">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
								</a>
							</li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
      </div>
    </div>
  </div>
</section>
